<div class="row mb-3">
  <div class="col">
    <div class="alert alert-dark" role="alert">
      <h4><a href="https://academic.oup.com/bioinformatics/advance-article/doi/10.1093/bioinformatics/btaa055/5716324">The Feature-Viewer: a visualization tool for positional annotations on a sequence</a></h4>
      <h6 class="text-secondary">
        Lisanna Paladin, Mathieu Schaeffer, Pascale Gaudet, Monique Zahn-Zabal, Pierre-André Michel, Damiano Piovesan,
        Silvio C E Tosatto, Amos Bairoch
      </h6>
      <p class="text-secondary"><i>Bioinformatics</i>, Volume 36, Issue 10, 15 May 2020, Pages 3244–3245
        <a href="https://doi.org/10.1093/bioinformatics/btaa055">doi: 10.1093/bioinformatics/btaa055</a>
      </p>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-8">
    <span>
      Self-contained and mobile-friendly Typescript library for the visualization of (not only) biological sequence features. <br>
    <strong>GitHub</strong>: <a href="https://github.com/BioComputingUP/feature-viewer-typescript">github.com/Lisanna/feature-viewer-typescript</a> <br>
    <strong>NPM</strong>: <a href="https://www.npmjs.com/package/feature-viewer-typescript">www.npmjs.com/package/feature-viewer-typescript</a>
    </span>
  </div>
<!--  <div class="col-4">-->
<!--    <a href="https://academic.oup.com/bioinformatics/advance-article/doi/10.1093/bioinformatics/btaa055/5716324" class="pub-button">Citing the Feature-Viewer</a>-->
<!--  </div>-->
</div>

<div>
  <tabset class="mt-2">
    <tab heading="Demos">
      <app-demos></app-demos>
    </tab>
    <tab heading="Reference API">
      <app-featureviewer></app-featureviewer>
    </tab>
  </tabset>
</div>
