<div class="card">
  <div class="card-header">
    RepeatsDB-KB
  </div>
  <div class="card-body">
    Simple feature with subfeatures, open by default.
    <div id="repDiv"></div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    DisProt
  </div>
  <div class="card-body">
    Several levels of subfeatures: please notice what happens to the left-side headers when you open and close subfeatures.
    <div id="disprotDiv"></div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    MobiDB
  </div>
  <div class="card-body">
    Several types of features, different label size (also in mobile mode).
    <div id="mobidbDiv"></div>
  </div>
</div>


